@import "colors";
@import "fonts";

$font: source-sans-pro;

body, html {
    height: 100%;
    margin: 0%;
    font-family: $font;
}

#front-face {
    display: flex;
    background-image: url("/img/home/vegetables-g0327cafe6_1920.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: inherit;
    height: 100%;
    width: 100%;
}

#about {
    height: 100%;
    font-family: $font;
    background-color: white;
}

#front {
    display:grid;
    background-color: white;
    border-radius: 8px;
    font-family: inherit;
    margin: auto;
    max-width: 20%;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 3px 1px $shadow;

    img {
        margin: auto;
        max-width: 100%;
    }
}

.link-button {
    background-color: $french-lime;
    border-radius: 4px;
    color: white;
    font-family: $font;
    font-weight: 600;
    font-size: 16pt;
    margin: auto;
    margin-top: 20%;
    padding: 10px 4px;
    text-decoration: none;
    transition: 0.1s;
    width: 50%;

    &:hover {
        background-color: $french-lime-darker;
        color: white;

        &:active {
            box-shadow: 0px 0px 2px 2px $french-lime;
        }
    }
}

.content-container {
    margin: 0%;
    height: 100%;
    display: flex;
    text-align: center;
    width: 100%;
    background-color: whitesmoke;

    .content-wrap {
        padding: 8px;
        font-size: x-large;
        max-width: 45%;
        text-align: justify;
        margin: auto;
        vertical-align: middle;

        h1 {
            text-align: left;
            margin: auto;
        }

        img {
            border-radius: 6px;
        }
    }
}

@import "form";